:root{
    --title-color: #212121;
    --text-color: #757575;
    --nav-color: #212121;
    --logo-header-color: #000000;
    --logo-footer-color: #ffffff;
    --accent-color: #2196F3;
    --background-dark-color: #2F303A;
    --background-light-color: #F5F4FA;
    --background-white-color: #ffffff;
    --footer-color: #ffffff;
    --hero-color: #ffffff;
    --footer-link-color: rgba(255, 255, 255, 0.6);
}

body{
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    background-color: var(--background-white-color);
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

/* -----------------------------HEADER------------------------------ */
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo{
    color: var(--logo-header-color);
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-color);
}

.header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.nav-link.current, .nav-link:hover, .nav-link:focus,
.header-contact:hover, .header-contact:focus{
    color: var(--accent-color);
}

/* --------------------------------HERO--------------------------------- */

.hero {
    background-color: var(--background-dark-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color);
}

.hero-btn {
    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color: var(--accent-color);
    color: var(--hero-color);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* -----------------------------FEATURES------------------------------ */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.features-list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* ----------------------------ACTIVITIES------------------------------- */

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/* -------------------------------TEAM------------------------------- */

.team{
    background-color: var(--background-light-color);
}

.team-list{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list-title{
    font-weight: 500;
    color: var(--title-color);
}

.team-list-text{
    font-weight: 400;
    color: var(--text-color);
}

/* ------------------------------FOOTER--------------------------------- */

.footer{
    background-color: var(--background-dark-color);
    color: var(--footer-color);
}

.footer-logo{
    color: var(--logo-footer-color);
}

.address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-link{
    color: var(--footer-link-color);
}
